.idea
*.iml
target/
platform-admin/*.iml
platform-admin/target
platform-api/*.iml
platform-api/target
platform-client/*.iml
platform-client/target
platform-common/*.iml
logs/
platform-admin/logs
platform-api/logs
platform-common/logs
